$primaryColor1: hsl(35, 77%, 62%);
$primaryColor2: hsl(5, 85%, 63%);
$neutralColor1: hsl(36, 100%, 99%);
$neutralColor2: hsl(233, 8%, 79%);
$neutralColor3: hsl(236, 13%, 42%);
$neutralColor4: hsl(240, 100%, 5%);
$fontSize: 1.5rem;
